page-login {

    .logo {
        overflow: auto;
        height: 60%;
        width: 80%;
        float: left;
        margin-left: auto;
        margin-top: auto;
        background-image: url(../assets/imgs/logo.png);
    }
}
