.ios, .md {

  .logo-row {
    width: 250px;
    margin: 100px auto;
  }

  .logo {
    width: 100%;
    height: 235px;
    text-align: center;
  }

  .form {
    position: relative;
    min-height: 150px;
  }

  .form-row {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .button {
    margin-top: 10px;
  }

  .forgot {
    margin-top: 30px;
  }

  .button.login {
    margin-left: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
  }

  .button.register {
    margin-left: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.75);
  }

}
