page-intro {

  .slide1 {
    background-color: #fff;
  }

  .slide2 {
    background-color: #e67e22;
  }

  .slide3 {
    background-color: #9b59b6;
  }

  .slide4 {
    background-color: #2ecc71;
  }

  .diag {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 66%;
  }

  .logo {
    display: block;
    position: absolute;
    background-color: transparent !important;
    left: 20%;
    margin-top: 20%;
    width: 60%;
    height: 80%;
  }

  ion-icon {
    margin-top: 30%;
    font-size: 7em;
  }

  h2 {
    margin-top: 80% !important;
    font-weight: normal;
    font-size: 1em;
  }

  p {
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: .8em;
  }

  .swiper-pagination-bullet-active {
    background: #0054FE;
  }

  .swiper-pagination {
    bottom: 12% !important;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .skipper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 5;
    font-size: 1em;
    color: black !important;
  }
}
